
.results {
    border-top: 1px solid #eee;
    background-color:white;
    padding: 1em 3em;
    // margin: 0;

    h3 {
      color: gray;
      margin-bottom: 10px;
    }  

    pre {
      white-space: pre-wrap;
      word-break: break-word;
    }
    }
