.history {
  display: flex;
  flex-direction: column;
  border-top: 1px solid #eee;
  //   background-color:white;
  color: gray;
  padding-top: 1em;
  // margin-left: 30px;
  background-color: white;
  p {
    color: black;
    // font-size: 20px;
    margin-bottom: 10px;
    padding: 0em;
  }

  li:hover {
    color: black;
    cursor: pointer;
    background-color: #f5f5f5;
  }

  pre {
    padding: 1em 3em;

    white-space: pre-wrap;
    word-break: break-word;
  }

  pre:hover {
    color: black;
    background-color: #f5f5f5;
    cursor: pointer;
  }
}
